@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@600&display=swap");

/* .center {
  width: 20%;
  margin: auto;
  padding: 50px 50px;
  background: #fff;
  border: solid #E3E3E3 1px;
  border-radius: 20px;
}
.center h1 {
  font-size: 1.5em;
  border-left: 5px solid dodgerblue;
  padding: 5px;
  color: #000;
  letter-spacing: 5px;
  margin-bottom: 30px;
  font-weight: bold;
  padding-left: 10px;
} */

.input_text {
  color: #000 !important;
}